:root {
    --sent-bg: #0B93F6;
    --sent-color: white;
    --received-bg: #E5E5EA;
    --received-text: black;
}

.msg {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    display: inline-block;
    max-width: 255px;
    word-wrap: break-word;
    line-height: 24px !important;
}

.sent {
    color: var(--sent-color);
    background: var(--sent-bg);
    align-self: flex-end;
}

.sent {
    color: var(--sent-color);
    background: var(--sent-bg);
    align-self: flex-end;
    margin-left: 25%;
    position: relative;
}

.sent:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -7px;
    height: 20px;
    width: 20px;
    background: var(--sent-bg);
    border-bottom-left-radius: 15px;
}

.sent:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}


.received {
    background: var(--received-bg);
    color: var(--received-text);
    align-self: flex-start;
    margin-right: 25%;
    position: relative;
}

.received:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: var(--received-bg);
    border-bottom-right-radius: 15px;
}

.received:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}